body{
    font-family: 'Montserrat', sans-serif;
    font-size: small;
    margin: auto;
}
.menubar{
    text-align: center;
    color: white;
    background-color: #FF3547;
    padding: 10px;
}
.menubar button{
    color: white;
    background-color: #FF3547;
    margin: 5px;
    border: none;
    font-weight: 700;
}
#homepage{
    background-color: #dddddd4f;
    padding: 5px;
    border-radius: 2px;
}
.header{
    background-image: linear-gradient(#ffffff57,#00000050), url(images/donation9.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
}
.header h3{
    color: white;
    text-align: center;
    margin-top: 2px;
    padding-top: 170px;
}
.header h1{
    color: white;
    margin: auto;
    text-align: center;
    font-weight: 500;
    text-transform: uppercase;
    
}
#donate{
    color: white;
    text-align: center;
    padding-left: 450px;
    width: 450px;
}
.header a{
    color: white;
    background-color: #FF3547;
    text-decoration: none;
    border-radius: 5px;
    padding: 10px;
    margin: 0;
    position: absolute;
    top: 56%;
    left: 45%;
}
.donatenow{
    text-align: center;
    padding: 10px;
}
.money{
    display: flex;
    width: 500px;
    padding-left: 38%;
}
.donatemoney{
    padding: 15px;
}
#five{
    border: 2px solid #ff354656;
    background-color: #ff35463b;
    border-radius: 2px;
}
.taka{
    padding-top: 20px;
    text-align: center;
    font-size: 16px;
    width: 350px;
    margin: auto;
}
.taka button{
    color: white;
    background-color: #FF3547;
    border: none;
    padding: 10px;
    border-radius: 5px;
}
.content{
    text-align: center;
    margin-top: 60px;
}
.content p{
    width: 500px;
    margin: auto;
}
.textarea{
    display: flex;
    padding-left: 15%;
    padding-top: 50px;
}
.txtarea-A{
    border: 1px solid #EDF5F6;
    background-color: #EDF5F6;
    border-radius: 5px;
    width: 300px;
    height: 200px;
    margin: 10px;
    padding: 10px;
}
.txtarea-A img{
    width: 50px;
    padding: 10px;
}
.txtarea-B{
    border: 1px solid #FFEEEE;
    background-color: #FFEEEE;
    border-radius: 5px;
    width: 300px;
    height: 200px;
    margin: 10px;
    padding: 10px;
}
.txtarea-B img{
    width: 50px;
    padding: 10px;
}
.txtarea-C{
    border: 1px solid #FFF4D6;
    background-color: #FFF4D6;
    border-radius: 5px;
    width: 300px;
    height: 200px;
    margin: 10px;
    padding: 10px;
}
.txtarea-C img{
    width: 50px;
    padding: 10px;
}
.contribute{
    display: flex;
    width: 50%;
    margin: auto;
}
.contribute img{
    width: 300px;
    padding: 50px;
    margin-left: 10px;
}
.contentarea{
    padding: 10px;
}
.contentarea button{
    color: white;
    background-color: #FF3547;
    border-radius: 3px;
    padding: 10px 15px 10px 15px;
    border: none;
}
.joinus{
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(images/join-us.png);
    height: 500px;
    width: 1000px;
    margin: auto;
}
.joinus h2{
    color: #223979c7;
    text-align: center;
    padding-top: 250px;
    margin: 30px;
}
.joinus a{
    color: white;
    background-color: #FF3547;
    border-radius: 40px;
    text-decoration: none;
    border: none;
    padding-top: 150px;
    margin-left: 36%;
    padding: 10px 100px 10px 100px;
    font-size: larger;
    font-weight: 800;
}
.lastcontent{
    text-align: center;
    width: 350px;
    margin: auto;
    padding-bottom: 30px;
}
.loginbody{
	width: 500px;
	height: 500px;
	background: linear-gradient(cadetblue,#00B242)
}
.loginbox{
	padding: 30px;
	background: white;
	width: 300px;
	margin:auto;
	box-shadow: 0px 0px 50px -7px black;
}
.loginbox input{
	width: 90%;
	background: #ddd;
	padding: 20px;
	margin-bottom: 20px;
	border: none;
	outline: none;
	border-radius: 5px;
	font-size: 18px;
}
.loginbaton{
	width: 90%;
	background: #00B242;
	color: white;
	padding: 15px;
	text-align: center;
	border-radius: 3px;
	margin-left: 4px;
	font-size: 20px;
}
.loginbaton:hover{
	background: linear-gradient(#088335,#00B242);
	cursor: pointer;
	
}
.footer{
    display: block;
    text-align: center;
    padding: 20px;
}
footer{
    background-color: #0B0D17;
    color: white;
    height: 100PX;
    margin-top: 10px;
}